<html>
	<p style="color: blue;">It's work!!</p>
	<!--<a href="./a.html">link</a>-->
	<form action="./Cmd">
		command: <input type="text" name="cmd" value=""><br>
		<input type="submit" value="Submit">
	</form>
	<form action="./setting">
		<input type="checkbox" name="width" value=true>width<br>
		<input type="checkbox" name="height" value=true>height<br>
		<input type="checkbox" name="model" value=true>model<br>
		<input type="checkbox" name="time" value=true>time<br>
		<input type="checkbox" name="exposure_time" value=true>exposure_time<br>
		<input type="checkbox" name="f_number" value=true>f_number<br>
		<input type="checkbox" name="ISO" value=true>ISO<br>
		<input type="checkbox" name="GPS" value=true>GPS 
		<input type="submit" value="Submit">
	</form>
	<iframe src="./log" style="width: 100%; height: 50%"></iframe>
</html>